<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DebuildPCEntities" connectionString="metadata=res://*/DebuilderPC.csdl|res://*/DebuilderPC.ssdl|res://*/DebuilderPC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NOTACOMP;initial catalog=DebuildPC;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>